*{
    padding: 0;
    margin: 0;
    color: rgba(238, 28, 13, 0.72);
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
li{
    text-decoration: none;
    list-style: none;
}
.navbar{
    
    height: 10vh;
    line-height: 10vh;
    box-shadow: rgba(26, 163, 187, 0.93) 0 30px 30px -20px;
}
.logo{ font: size 30px;

}
.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}
.container{
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links li{
    color: rgb(10, 10, 10);
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}
.nav-links Link{
    text-decoration: none;
    color: red;
}
.hero{
    text-align: center;
    margin-top: 15%;
}
.h3{
    text-align: center;
    font-size: 80px;
}